:root {
  font-family: monospace;
  --color-primary: hsl(192, 100%, 68%);
  --color-primary-light: hsl(192, 100%, 58%);
  --color-primary-text: #333;
  --color-secondary: #eee;
  --color-secondary-text: #333;
  --color-secondary-text-light: hsl(0, 0%, 30%);
}

html[data-theme="dark"] {
  --color-primary: hsl(198, 43%, 52%);
  --color-primary-light: hsl(198, 43%, 42%);
  --color-primary-text: #eee;
  --color-secondary: #333;
  --color-secondary-text: #eee;
  --color-secondary-text-light: hsl(0, 0%, 83%);
}

:root {
  background-color: var(--color-secondary);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  position: relative;
  color: var(--color-secondary-text);
  font-size: 1rem;
}

#shorten-url-button {
  margin-left: 0.5rem;
  background-color: var(--color-primary);
  color: var(--color-primary-text);
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

#shorten-url-button:hover {
  background-color: var(--color-primary-light);
}

#shorten-url-button:active {
  opacity: 0.6;
  transition: all 0s;
}

#shorten-url-button:focus {
  outline: none;
  filter: drop-shadow(0 0 0.2rem var(--color-primary));
}