#mode-toggle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

#mode-toggle svg,
#mode-toggle-invisible-button {
  position: absolute;
  inset: 0 0 0 0;
  height: 1.5rem;
  width: 1.5rem;
}

#mode-toggle svg.hidden {
  display: none;
  opacity: 0;
}

#mode-toggle-invisible-button:hover ~ svg {
  filter: drop-shadow(0 0 0.75rem var(--color-secondary-text));
  transition: all 0.2s ease;
}

#mode-toggle svg {
  transition: all 0.2s ease;
  opacity: 1;
}

#mode-toggle-invisible-button:active ~ svg {
  opacity: 0.5;
  transition: all 0s;
}

#mode-toggle-invisible-button {
  z-index: 1;
  cursor: pointer;
}